---
import "../../../public/assets/css/style.css"
---




  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <!-- Bloc de timeline 1 -->
      <div class="cd-timeline__block">
        <!-- <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/img/cd-icon-picture.svg" alt="Picture">
        </div> -->
        <div class="cd-timeline__content text-component">
          <h2>Découverte</h2>
          <p>Participation à un premier rally
            découvrir la voiture et l'équipe technique !</p>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">2022</span>
            
          </div>
        </div>
      </div>
  
      <!-- Ajoutez d'autres blocs de timeline ici en suivant le même modèle -->
      <!-- ... -->

      <div class="cd-timeline__block">
        <!-- <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/Team.png" alt="Picture">
        </div> -->
        <div class="cd-timeline__content text-component">
          <h2>Prendre de l'expérience</h2>
          <p>Participation à au moins 3 rally du Clio Trophy france! Participation en parallèle à des rally régionaux et nationaux.</p>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">2023</span>
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div>
      </div>

      <div class="cd-timeline__block">
     
          <!-- <img src="/img/cd-icon-picture.svg" alt="Picture"> -->
        </div> 
        <div class="cd-timeline__content text-component">
          <h2>Confirmer</h2>
          <p>Participation à des rallye nationaux et à un grand rallye, le Monte Carlo</p>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">2024</span>
          </div>
        </div>
      </div>



      
      <div class="cd-timeline__block">
          
        </div> 
        <div class="cd-timeline__content text-component">
          <h2>Performer</h2>
          <p>Participation à des manches de la coupe Clio Trophy France</p>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">2025</span>
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div>
      </div>


  
    </div>
  </section>
  
  <!-- Si vous avez un script JavaScript associé, ajoutez-le ici -->
  <script src="/js/main.js" is:inline></script>
  