---
// Importer le composant
import Timeline  from '../../components/verticaltimeline.astro';
---

<html>
  <head>
    <!-- Métadonnées, styles globaux, etc. -->
  </head>
  <body>
    <Timeline  />
    <!-- Autres éléments de votre page -->
  </body>
</html>
