---
import "../../../public/assets/css/style.css"
---




  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <!-- Bloc de timeline 1 -->
      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/img/cd-icon-picture.svg" alt="Picture">
        </div>
        <div class="cd-timeline__content text-component">
          <h2>Title of section 1</h2>
          <p class="color-contrast-medium">Description de la section 1...</p>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Jan 14</span>
            <a href="#0" class="btn btn--subtle">Read more</a>
          </div>
        </div>
      </div>
  
      <!-- Ajoutez d'autres blocs de timeline ici en suivant le même modèle -->
      <!-- ... -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/img/cd-icon-picture.svg" alt="Picture">
        </div>
        <div class="cd-timeline__content text-component">
          <h2>Title of section 2</h2>
          <p class="color-contrast-medium">Description de la section 2...</p>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Jan 14</span>
            <a href="#0" class="btn btn--subtle">Read more</a>
          </div>
        </div>
      </div>

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/img/cd-icon-picture.svg" alt="Picture">
        </div>
        <div class="cd-timeline__content text-component">
          <h2>Title of section 2</h2>
          <p class="color-contrast-medium">Description de la section 2...</p>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Jan 14</span>
            <a href="#0" class="btn btn--subtle">Read more</a>
          </div>
        </div>
      </div>



  
    </div>
  </section>
  
  <!-- Si vous avez un script JavaScript associé, ajoutez-le ici -->
  <script src="/js/main.js"></script>
  