---
import "../../../public/assets/css/style.css"
---




  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <!-- Bloc de timeline 1 -->
      <div class="cd-timeline__block">
        <!-- <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/img/cd-icon-picture.svg" alt="Picture">
        </div> -->
        <div class="cd-timeline__content text-component">
          <h2>Lancement du projet CRESI Racing</h2>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Janvier 2020</span>
            
          </div>
        </div>
      </div>
  
      <!-- Ajoutez d'autres blocs de timeline ici en suivant le même modèle -->
      <!-- ... -->

      <div class="cd-timeline__block">
        <!-- <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/Team.png" alt="Picture">
        </div> -->
        <div class="cd-timeline__content text-component">
          <h2>Prise de contact avec les asso</h2>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Jan 14</span>
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div>
      </div>

      <div class="cd-timeline__block">
        <!-- <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/img/cd-icon-picture.svg" alt="Picture">
        </div> -->
        <div class="cd-timeline__content text-component">
          <h2>Première courses </h2>
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Insérer date </span>
          </div>
        </div>
      </div>



      
      <div class="cd-timeline__block">
        <!-- <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="/Team.png" alt="Picture">
        </div> -->
        <div class="cd-timeline__content text-component">
          <h2>Concécration</h2>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Jan 14</span>
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div>
      </div>


  
    </div>
  </section>
  
  <!-- Si vous avez un script JavaScript associé, ajoutez-le ici -->
  <script src="/js/main.js" is:inline></script>
  