---
import { LinkedInEmbed } from "react-social-media-embed";
import { InstagramEmbed } from "react-social-media-embed";
import Layout from "@layouts/Layout.astro";
---

<Layout title="News">
  <div
    style={{
      display: "flex",
      justifyContent: "center",
      flexDirection: "row",
      flexWrap: "nowrap",
      gap: "1rem",
      alignItems: "center",
    }}
  >
    <div style={{ display: "flex", justifyContent: "center" }}>
      <LinkedInEmbed
        url="https://www.linkedin.com/feed/update/urn:li:activity:7148317811172409344"
        width={325}
        height={570}
      />
    </div>

    <div style={{ display: "flex", justifyContent: "center" }}>
      <InstagramEmbed
        url="https://www.instagram.com/reel/C0XGgc_s8YG/?utm_source=ig_web_copy_link"
        width={328}
      />
    </div>
  </div>
</Layout>
