<footer class="mt-8">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} CRESI CORP. All rights reserved.
  </p>

  <p class="text-center text-xs text-slate-500 mt-1">
    Made by CRESI CORP<a
      href="https://cresi.io"
      target="_blank"
      rel="noopener"
      class="hover:underline">
    </a>
  </p>
</footer>
