---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-auto mb-0">
  <h2 class="text-center text-slate-500">Nos contacts</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://instagram.com/cresiracing?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">
      <Icon class="h-8 md:h-12" name="simple-icons:instagram" />
    </a>
    <a href="https://www.facebook.com/people/CRESI-Racing/100065312957199/" target="_blank">
      <Icon class="h-8 md:h-14" name="simple-icons:facebook" />
    </a>
    <a href="https://www.linkedin.com/company/cresiracing/?originalSubdomain=fr" target="_blank">
      <Icon class="h-8 md:h-16" name="simple-icons:linkedin" />
    </a>
    <a href="mailto:cresi-racing@outlook.fr    ">
      <Icon class="h-8 md:h-12" name="simple-icons:gmail" />
    </a>
  </div>
</div>

