select {
    font-size: 100% ;
    width: ; 
    padding:; 
    border:;
    border-radius:; 
    background-color: rgb(2, 54, 2); 
    color:;
    border-radius: 15PX;
    }

body {

    font-size: 100% ;
    background-color : rgb(96, 102, 110);

}

header {
    font-size: 100% ;
    background-color: rgb(12, 11, 11);
}

section {
    font-size: 100% ;
    background-color: rgb(37, 39, 43);
}

article {
    min-width: 400px;
    font-size: 100% ;
    margin: -1PX;
    background-color: rgb(105, 48, 48);
}

input[type=text] {
    min-width: 1000px;
    font-size: 100% ;
    width: ; 
    padding: ; 
    margin: ;
    box-sizing: ; 
    background-color: rgb(54, 17, 2); 
    color: black;
    border-radius: 15PX;
}

input[type=submit] {
    
    font-size: 100% ;
    width: ; 
    padding: ; 
    margin: ;
    box-sizing: ; 
    background-color: rgb(107, 27, 7); 
    color: rgb(0, 0, 0);
    border-radius: 15PX;
}

input[type=reset] {
    
    font-size: 100% ;
    width: ; 
    padding: ; 
    margin: ;
    box-sizing: ; 
    background-color: rgb(107, 27, 7); 
    color: rgb(0, 0, 0);
    border-radius: 15PX;
}

nav {
    min-width: 400px;
    font-size: 100% ;
    width: ; 
    padding: ; 
    margin: ;
    box-sizing: ; 
    background-color: rgb(107, 27, 7); 
    color: rgb(0, 0, 0);

}

fieldset {
    min-width: 1000px;
    width: ; 
    padding: ; 
    margin: ;
    box-sizing: ; 
    background-color: ; 
    color: rgb(0, 0, 0);
    border-radius: ;
    border-color: red;
}

select:focus {
    width: ; 
    padding: ; 
    margin: ;
    box-sizing: ; 
    background-color: ; 
    border: ; 
}
    