---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import AnnouncementHero from '../components/AnnouncementHero.astro';
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = "https://cresiracing.com/";

const resolvedImageWithDomain = new URL(
  "/Team.png.jpg",
  "cresiracing.com"
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "cresi racing"
  : "CRESI Racing";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="cresiracing, cresi racing, cesi, ingénieurs, clio trophy france"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/svg+xml" href="/iconcresi.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="cresiracing" />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="CRESI Racing est une association dans le sport automobile. Nous participons à des championnats de course automobile. Notre but est de faire découvrir au plus grand nombre ce sport et de le rendre accessible à tous."
      canonical={canonicalURL}
      twitter={{
        creator: "cresiracing",
        site: "cresiracing",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `CRESI Racing - Student Racing Team`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "CRESI Racing Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <AnnouncementHero />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
